.navbar-brand{
    display: inline-block;
    width: 70px;
    height: auto;
}
.navbar-right{
    margin-top: 21px;
}
.navbar-toggle{
    margin-top:22px;
}
.navbar-collapse{
    text-align: center;
    margin-top: 63px;
    width: 109%;
}
@media (min-width:768px){
    .navbar-collapse{
        text-align: center;
        margin-top: 63px;
        width: 109%;
    }
}